
.navbar{
    background-color: #2a3961;
    border: 0px;
    border-radius: 0px;
}

.navbar-brand{
    padding: 0px 15px;
    position: absolute;
    color:white;
    left: 0;
}


.navbar-brand:hover{
    background-color: #bb3636;
    color: #fecc16;
}

.navbar-brand>h2{
    margin: 10px;
}

.navbar-nav>.nav-tab>a{
    color: #fecc16;
}

.navbar-nav>.nav-tab>a:hover{
    color: #fecc16;
    background-color: #bb3636;
}

.navbar, .navbar-inverse {
    border-radius: 0;
    margin-bottom: 0;
    padding-right:30px;
    min-height: 60px;

}

.nav li {
    display: inline-block;
    font-size:1.3em;
    color: white;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    border:none;
}

p.footer-text.footer-name {
    margin: 10px 0 10px 50px;
}

.navbar-collapse, .collapse {
    float:right;
    border:none;
    box-shadow: none;
}


